@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fff;
}
/* nav link css start */
ul li a:hover{
    font-weight: bold;
}
.nav-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.nav-link::after {
    content: ' ';
    display: block;
    width: 0;
    height: 2px;
    background: #fdc221;
    transition: width .3s;
}
/* nav link css end */

.nav-link:hover::after {
    width: 100%;
}

/* two cols css start
h1 span .business::after{
 content: ' ';
 display: block;
 width: 0;
 height: 5px;
 background: #fdc221;
 transition: width 0.5ms;
}
h1 span .business:hover::after{
    width: 100%;
} */

/* two cols css end */